{% extends 'baseBack.html.twig' %}

{% block title %}Recommendation index{% endblock %}

{% block body %}
    <h1>Recommendation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sujet</th>
                <th>Comment</th>
                <th>Date</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recommendation in recommendations %}
            <tr>
                <td>{{ recommendation.id }}</td>
                <td>{{ recommendation.sujet }}</td>
                <td>{{ recommendation.comment }}</td>
                <td>{{ recommendation.date ? recommendation.date|date('Y-m-d') : '' }}</td>
                <td>{{ recommendation.etat }}</td>
                <td>
                    <a href="{{ path('recommendation_show', {'id': recommendation.id}) }}">show</a>
                    <a href="{{ path('recommendation_edit', {'id': recommendation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('recommendation_new') }}">Create new</a>
{% endblock %}
