{% extends 'baseFront.html.twig' %}

{% block body %}

    <h2>Mes Fiches de Paie</h2>

    <div class="row">
        <div class="container" style="margin-bottom: 30px;">
            <div class="row">
                <div class="col ml-auto bg-primary py-5 newsletter-block">
                    <h3 class="text-white">Recherche Des Fiches De Paie</h3>

                    <div class="input-wrapper">
                        <input id="search"  type="text" class="form-control border-0" id="newsletter" name="newsletter" placeholder="Search ...">
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul  id="tableId" class="list-unstyled">
                <!-- notice item -->
                {% for d in revenu %}
                    <li class="d-md-table mb-4 w-100 border-bottom hover-shadow">
                        <div class="d-md-table-cell text-center p-4 bg-primary text-white mb-4 mb-md-0" style="width: 100px;"><span class="h4 d-block">{{ d.date ? d.date|date('d') : '' }}</span>{{ d.date ? d.date|date('M') : '' }},{{ d.date ? d.date|date('Y') : '' }}</div>
                        <div class="d-md-table-cell px-4 vertical-align-middle mb-4 mb-md-0">
                            <p href="" class="h4 mb-3 d-block">{{ d.justificatif }}</p>
                            <p class="mb-0">{{ d.description }}</p>
                            <p>{{ d.valeur }} DT</p>
                        </div>
                        <div class="d-md-table-cell text-right pr-0 pr-md-4" ><a href="{{ path('prof_recu', {'id': d.id}) }}" class="btn btn-info" style="width: 200px;">Imprimer Reçu</a></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


{% block javascripts %}


    <script>
        $(document).ready( function() {

            $('#loading-image').bind('ajaxStart', function(){
                $(this).show();
            }).bind('ajaxStop', function(){
                $(this).hide();
            });

            var path = '{{ path("prof_revenu_search", {'search': 'search_value'}) }}';
            var pathImprimer = '{{ path('prof_recu', {'id': '_id'}) }}';

            $(document).on("keyup", "#search", function(e) {
                e.preventDefault();
                console.log($(this).val())
                path.replace( 'search_value' , $(this).val() )
                search(path , $(this).val() , pathImprimer)
            });
        });
    </script>


    <script src="{{ asset('js/fichepaie.js') }}"></script>

{% endblock  %}
